<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Beranda - We-Park</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <script src="https://www.gstatic.com/firebasejs/11.7.1/firebase-app-compat.js"></script>
    <script src="https://www.gstatic.com/firebasejs/11.7.1/firebase-auth-compat.js"></script>

    <script src="./scripts/firebase-config.js"></script>
    
    <div class="container">
        <div class="box">
            <h1>Selamat Datang di We-Park</h1>
            <p>Manajemen Parkir Modern</p>
            <a href="/login"><button>Login</button></a>
            <a href="/register"><button>Register</button></a>
        </div>
    </div>
</body>
</html>